body {
	background-color: #f2f2f2;
	font-family: 'Montserrat', sans-serif;
}



.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#toc_container {
    background: #e7f4ff;
    border: 4px solid #B27093;
    margin-bottom: 1em;
    padding: 15px;
    width: 20%;
}
.toc_title {
    font-weight: 700;
    text-align: justify;
}

 a.lolo: {
  color: #B27093;
  background-color: transparent;
}
a.lolo:visited {
  color: #9999ff;
  background-color: transparent;
}
a.lolo:hover {
  color: #CAD5E5;
  background-color: transparent;
  cursor: pointer; 
}
a.lolo:active {
  color: #FFC8DE;
  background-color: transparent;
}


a.toto: {
  color: #B27093;
  background-color: transparent;
}
a.toto:visited {
  color: #a7a9dc;
  background-color: transparent;
}
a.toto:hover {
  color: #c3dca7;
  background-color: transparent;
  cursor: pointer; 
}
a.toto:active {
  color: #FFC8DE;
  background-color: transparent;
}

a.coco: {
	color: #B27093;
  background-color: transparent;
}
a.coco:visited {
  color: #FFA1D3;
  background-color: transparent;
}
a.coco:hover {
  color:#FF1493 ;
  background-color: transparent;
  cursor: pointer; 
}
a.coco:active {
  color:#d3ffa1 ;
  background-color: transparent;
}
h1{
	font-family: 'Montserrat', sans-serif;
	text-shadow: 3px 2px #A7C3DC;
	color: #7BA4CA;
}


h2{
font-family: "Comic Sans MS", cursive, sans-serif;
}

img.resize {
  width:200px;
  height:200px;
}

img.size {
  width:220px;
  height:200px;
}

img.thesize {
  width:300px;
  height:200px;
}

figure {
  float: right;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  border: thin silver solid;
  margin: 1em;
  padding: 1em;
}







